//main: main.less

#modal_sprite{
  position: absolute;
  margin-top:10px;
  top: 28px;
  left: 185px;
  right: 5px;
  bottom:5px;
  opacity:0;
  z-index:-18;

  &.active{
    z-index:12;
    opacity:1;
  }

  >#buttons{
    height:34px;
    margin-bottom:10px;
    .no-select();

    >button{
      .btn-circle();
      float:right;

     &#btn_save:hover{
       background-color:#0091ea;
       border-color:#0091ea;
     }
     &#btn_close:hover{
       background-color:#212121;
       border-color:#212121;
     }
    }
  }

  >.preview,.properties{
    border:1px solid #e0e0e0;
    position: absolute;
    top:60px;
  }
  >.preview{
    right:10px;
    left:260px;
    bottom: 10px;
    background-repeat:no-repeat !important;
  }
  >.properties{
    width:240px;

    >table{
      width: 100%;
      font-size: 13px;
      padding: 5px;

      tr > td:first-of-type{
        font-weight:600;
        height:20px;
      }

      input{
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        outline: none;
        border: none;
      }
    }
  }
}
