.hidden {
  display: none;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.win-drag {
  -webkit-app-region: drag;
}
.win-nodrag {
  -webkit-app-region: no-drag;
}
.card-nohover {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.card-transparent {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
.card-transparent:hover {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.btn-circle {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
}
.btn-circle:hover {
  color: white;
  cursor: pointer;
}
.btn-modal-close {
  position: absolute;
  background-color: transparent;
  top: 0px;
  right: 0px;
  font-size: 14px;
  border: none;
  outline: none;
  width: 18px;
  height: 18px;
  padding: 0px;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  display: hidden;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  display: hidden;
}
::-webkit-scrollbar-button {
  display: none;
  height: 0px;
  width: 0px;
}
::-webkit-scrollbar-corner {
  background-color: black;
  display: none;
}
ul.jqtree-tree {
  margin-top: 0px;
}
.tree_normal {
  background: none;
}
.tree_normal span.jqtree-title {
  color: black !important;
  font-size: 12px;
}
.tree_selected {
  background: none;
  background-color: #757575;
}
.tree_selected span.jqtree-title {
  color: white !important;
  text-shadow: none;
}
.tree_hover {
  background: none;
  background-color: #e0e0e0;
}
.tree_hover span.jqtree-title {
  color: black !important;
}
.jqtree-element.jqtree_common {
  background: none;
}
.jqtree-element.jqtree_common span.jqtree-title {
  color: black !important;
  font-size: 12px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: none;
  background-color: #757575;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element span.jqtree-title,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover span.jqtree-title {
  color: white !important;
  text-shadow: none;
}
ul.jqtree-tree .jqtree-element:hover {
  background: none;
  background-color: #e0e0e0;
}
ul.jqtree-tree .jqtree-element:hover span.jqtree-title {
  color: black !important;
}
#extra_box {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 5px;
  text-align: center;
}
#extra_box > .m_coordinates,
#extra_box .m_zoom {
  margin: 0px;
}
#extra_box > .m_zoom {
  background-color: transparent;
  border: none;
  width: 24px;
}
#extra_box > .m_zoom::-webkit-outer-spin-button,
#extra_box > .m_zoom::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
#modal_object {
  position: absolute;
  width: 400px;
  height: 420px;
  top: 5px;
  left: 0px;
  opacity: 0;
  z-index: -20;
  transition: all 0.2s ease-in-out;
}
#modal_object.active {
  z-index: 10;
  opacity: 1;
  left: 185px;
}
#modal_object > #buttons {
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal_object > #buttons > button {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
}
#modal_object > #buttons > button:hover {
  color: white;
  cursor: pointer;
}
#modal_object > #buttons > #btn_code:hover {
  background-color: #00c853;
  border: 1px solid #00c853;
}
#modal_object > #buttons > #btn_delete:hover {
  background-color: #d50000;
  border: 1px solid #d50000;
}
#modal_object > #buttons > #btn_save,
#modal_object > #buttons #btn_close {
  float: right;
}
#modal_object > #buttons > #btn_save:hover {
  background-color: #0091ea;
  border: 1px solid #0091ea;
}
#modal_object > #buttons > #btn_close:hover {
  background-color: #212121;
  border: 1px solid #212121;
}
#modal_object > #titles {
  width: 100%;
  display: inline-block;
}
#modal_object > #titles > p {
  width: 180px;
  font-size: 13px;
  font-weight: 900;
  line-height: 12px;
  margin: 0;
}
#modal_object > #titles > p#title1 {
  float: left;
}
#modal_object > #titles > p#title2 {
  float: right;
}
#modal_object > #sprites,
#modal_object .properties {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #e0e0e0;
  width: 180px;
  height: 335px;
}
#modal_object > #sprites {
  float: right;
  overflow-y: auto;
}
#modal_object > #sprites > .sprite {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e0e0e0;
}
#modal_object > #sprites > .sprite > * {
  display: inline-block;
}
#modal_object > #sprites > .sprite > #btn_close {
  cursor: pointer;
  background-color: white;
  border: none;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 18px;
}
#modal_object > #sprites > .sprite > a {
  cursor: pointer;
}
#modal_object > #sprites > .sprite > a > .preview {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  border: 1px dashed #bdbdbd;
  margin: 5px;
  width: 40px;
  height: 40px;
}
#modal_object > #sprites > .sprite > #values {
  vertical-align: top;
  margin-top: 5px;
  font-size: 12px;
  max-width: 100px;
  overflow: hidden;
}
#modal_object > #sprites > #btn_add_sprite {
  width: 100%;
  height: 48px;
  color: white;
  background-color: #bdbdbd;
  border: none;
  font-size: 24px;
}
#modal_object > .properties {
  float: left;
  margin-right: 16px;
}
#modal_object > .properties > table {
  width: 100%;
  font-size: 13px;
  padding: 5px;
}
#modal_object > .properties > table tr > td:first-of-type {
  font-weight: 600;
  height: 20px;
}
#modal_object > .properties > table input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  outline: none;
  border: none;
}
#modal_sprite {
  position: absolute;
  top: 5px;
  left: 185px;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  z-index: -18;
}
#modal_sprite.active {
  z-index: 12;
  opacity: 1;
}
#modal_sprite > #buttons {
  height: 34px;
  margin-bottom: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#modal_sprite > #buttons > button {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
  float: right;
}
#modal_sprite > #buttons > button:hover {
  color: white;
  cursor: pointer;
}
#modal_sprite > #buttons > button#btn_save:hover {
  background-color: #0091ea;
  border-color: #0091ea;
}
#modal_sprite > #buttons > button#btn_close:hover {
  background-color: #212121;
  border-color: #212121;
}
#modal_sprite > .preview,
#modal_sprite .properties {
  border: 1px solid #e0e0e0;
  position: absolute;
  top: 60px;
}
#modal_sprite > .preview {
  right: 10px;
  left: 260px;
  bottom: 10px;
  background-repeat: no-repeat !important;
}
#modal_sprite > .properties {
  width: 240px;
}
#modal_sprite > .properties > table {
  width: 100%;
  font-size: 13px;
  padding: 5px;
}
#modal_sprite > .properties > table tr > td:first-of-type {
  font-weight: 600;
  height: 20px;
}
#modal_sprite > .properties > table input {
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  outline: none;
  border: none;
}
#modal_region {
  position: absolute;
  width: 405px;
  top: 5px;
  left: 0px;
  opacity: 0;
  z-index: -20;
  transition: all 0.2s ease-in-out;
}
#modal_region.active {
  z-index: 10;
  opacity: 1;
  left: 185px;
}
#modal_region > * {
  display: inline-block;
}
#modal_region > input {
  vertical-align: middle;
}
#modal_region > input#in_region_color {
  background-color: transparent;
  outline: none;
  border: none;
  width: 30px;
  height: 34px;
}
#modal_region > input#in_region_color::-webkit-color-swatch-wrapper {
  background-color: transparent;
  border: none;
  border-radius: 100%;
}
#modal_region > input#in_region_color::-webkit-color-swatch {
  background-color: blue;
  border-radius: 100%;
}
#modal_region > .buttons > button.btn_save {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 34px;
  width: 34px;
  border-radius: 100%;
  font-size: 18px;
  margin: 0px 4px;
  transition: all 0.2s ease-in-out;
}
#modal_region > .buttons > button.btn_save:hover {
  color: white;
  cursor: pointer;
}
#modal_region > .buttons > button.btn_save:hover {
  background-color: #4caf50;
  border: 1px solid #4caf50;
}
#modal_region > .buttons > button.btn_close {
  position: absolute;
  background-color: transparent;
  top: 0px;
  right: 0px;
  font-size: 14px;
  border: none;
  outline: none;
  width: 18px;
  height: 18px;
  padding: 0px;
  cursor: pointer;
}
@font-face {
  font-family: "Roboto";
  src: url("includes/roboto/Roboto-Regular.ttf") format("truetype");
}
* {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  box-sizing: border-box;
}
.menu_bar {
  box-sizing: border-box;
  height: 30px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  margin: 5px;
  margin-right: 15px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all ease-in-out 0.4s;
}
.menu_bar > .window_menu {
  top: 0px;
}
.menu_bar > .window_title {
  font-size: 14px;
  display: inline-block;
  line-height: 30px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu_bar > .window_title > .icon_container {
  cursor: pointer;
  width: 32px;
  text-align: center;
  display: inline-block;
  opacity: 1;
  transition: opacity ease-in-out 0.4s;
  -webkit-app-region: no-drag;
}
.menu_bar > .window_title > .filler {
  width: 32px;
  display: inline-block;
}
.menu_bar > .window_menu {
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: -30px;
  left: 30px;
  right: 95px;
  height: 30px;
  transition: top ease-in-out 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu_bar > .window_menu.active {
  top: 0px;
}
.menu_bar > .window_menu > div {
  cursor: pointer;
  display: inline-block;
  width: 32px;
  text-align: center;
  -webkit-app-region: no-drag;
}
.menu_bar > .window_menu > div > .fa {
  line-height: 30px;
}
.menu_bar > #window_buttons {
  float: right;
  font-size: 0;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.menu_bar > #window_buttons > div {
  width: 15px;
  height: 15px;
  display: inline-block;
  text-align: center;
  border-right: none;
  margin: 8px 0px;
  border-radius: 100%;
  margin-right: 12px;
}
.menu_bar > #window_buttons > div#btn_close,
.menu_bar > #window_buttons > div#btn_maximize,
.menu_bar > #window_buttons > div#btn_minimize {
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center center;
  image-rendering: -moz-crisp-edges;
}
.menu_bar > #window_buttons > div#btn_close {
  background-color: #ffd5d5;
  border: 1px solid #d50000;
  transition: background-color ease-out 0.2s;
}
.menu_bar > #window_buttons > div#btn_close:hover {
  background-color: #d50000;
}
.menu_bar > #window_buttons > div#btn_maximize {
  background-color: #ffffff;
  border: 1px solid #ffab00;
  transition: background-color ease-out 0.2s;
}
.menu_bar > #window_buttons > div#btn_maximize:hover {
  background-color: #ffab00;
}
.menu_bar > #window_buttons > div#btn_minimize {
  background-color: #c8ffdf;
  border: 1px solid #00c853;
  transition: background-color ease-out 0.2s;
}
.menu_bar > #window_buttons > div#btn_minimize:hover {
  background-color: #00c853;
}
.menu_bar > #window_buttons > div > i {
  font-size: 16px !important;
  margin-top: 4px !important;
}
#main_window {
  background-color: #EEEDED;
  z-index: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}
#main_window > *:not(.canvas-container) {
  z-index: 10;
}
#main_window > #toolbox {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
}
#main_window > #toolbox:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#main_window > #library {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  box-shadow: none;
  width: 175px;
  top: 5px;
  left: 5px;
  position: absolute;
}
#main_window > #library:hover {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#main_window #modals {
  background: none;
}
#main_window #modals > * {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px;
  box-sizing: border-box;
}
#main_window > .canvas_container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
#main_window .console {
  position: absolute;
  left: 185px;
  right: 50px;
  bottom: 10px;
  font-size: 12px;
}
#main_window .console > .error {
  color: red;
}
